@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent text selection flicker in a desktop app */
body {
  user-select: none;
  -webkit-user-select: none;
}

input, textarea {
  user-select: text;
  -webkit-user-select: text;
}
